Repository correlator-io/correlator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

go-fmt:
  name: go fmt
  entry: make fmt
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: make vet
  language: system
  pass_filenames: false

go-unit-tests:
  name: go unit tests
  entry: make test-unit
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run
  language: system
  pass_filenames: false

chore: add dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .dockerignore
  .secrets.baseline
  Makefile
  cmd/migrator/config_test.go
  cmd/migrator/embed_test.go
  cmd/migrator/integration_test.go
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add pure embedded migrations
  Makefile
  cmd/migrator/README.md
  cmd/migrator/embed_test.go
  cmd/migrator/integration_test.go
  migrations/002_performance_optimization.down.sql
  migrations/002_performance_optimization.up.sql
  migrations/README.md
  migrations/config.go
  migrations/config_test.go
  migrations/embed.go
  migrations/embed_test.go
  migrations/integration_test.go
  migrations/main.go
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: move TestEmbeddedMigrationsPerformanceWithActualEmbedding to integration tests
  migrations/embed_test.go
  migrations/integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update docker files
  .gitignore
  deployments/docker/docker-compose.yml
  deployments/docker/migrator.dockerfile
Due: none

chore: add dev container name
  .devcontainer/devcontainer.json
Due: none

chore: simplify make commands
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pr.yml
  Makefile
  deployments/docker/.env.example
  deployments/docker/dev-diagnostics.sh
  deployments/docker/dev-setup.sh
  deployments/docker/health-check.sh
  deployments/docker/postgres-init/01-init.sql
  docs/DEVELOPMENT.md
Due: none

chore: update DEVELOPMENT.md
  docs/DEVELOPMENT.md
Due: none

chore: another update of DEVELOPMENT.md
  docs/DEVELOPMENT.md
Due: none

chore: fix lint issues in config
  migrations/config.go
  migrations/config_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix issues in embed
  migrations/embed.go
  migrations/embed_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix runner lint errors
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix lint errors in integration tests
  migrations/integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix more linting errors
  migrations/config.go
  migrations/config_test.go
  migrations/embed_test.go
  migrations/integration_test.go
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update dev docs
  docs/DEVELOPMENT.md
Due: none

chore: fix linter issues in cmd package
  cmd/correlator/main.go
  cmd/ingester/main.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: migrator improvements
  Makefile
  deployments/docker/docker-compose.yml
  deployments/docker/migrator.dockerfile
  migrations/README.md
  migrations/config.go
  migrations/config_test.go
  migrations/integration_test.go
  migrations/main.go
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: enable all linters
  .golangci.yml
Due: none

chore: update migrator readme
  migrations/README.md
Due: none

chore: rename type migratorRunner to Runner
  migrations/integration_test.go
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: refactor max schema version
  migrations/embed_test.go
  migrations/integration_test.go
  migrations/main.go
  migrations/runner.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: none

chore: design api endpoints
  docs/api/examples/api-responses.json
  docs/api/examples/lineage-events.json
  docs/api/openapi.yaml
  docs/api/schemas/correlation.yaml
  docs/api/schemas/errors.yaml
  docs/api/schemas/openlineage.yaml
Due: none

chore: add api foundation
  cmd/correlator/main.go
  internal/api/config.go
  internal/api/middleware/correlation.go
  internal/api/middleware/cors.go
  internal/api/middleware/logging.go
  internal/api/middleware/recovery.go
  internal/api/routes.go
  internal/api/server.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix correlation id fallback vulnerability
  internal/api/middleware/correlation.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix JSON injection vulnerability
  internal/api/middleware/recovery.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement RFC 7807
  internal/api/errors.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add api versioning + healthchecks
  internal/api/routes.go
  internal/api/server.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix nitpicks
  internal/api/errors.go
  internal/api/middleware/correlation.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update .env.example
  .env.example
  .secrets.baseline
Due: none

chore: add api key data structures
  internal/api/auth.go
  internal/api/auth_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement in-memory key store
  internal/api/store.go
  internal/api/store_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: refactor in-memory key store implementation
  internal/storage/memory_key_store.go
  internal/storage/memory_key_store_test.go
  internal/storage/types.go
  internal/storage/types_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: rename types
  internal/storage/memory_key_store.go
  internal/storage/memory_key_store_test.go
  internal/storage/types.go
  internal/storage/types_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add Bcrypt hashing utilities
  internal/storage/hash.go
  internal/storage/hash_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add migration for api keys storage
  migrations/003_api_keys.down.sql
  migrations/003_api_keys.up.sql
Due: none

chore: implement persistent key store
  go.mod
  internal/storage/config.go
  internal/storage/config_test.go
  internal/storage/memory_key_store.go
  internal/storage/memory_key_store_test.go
  internal/storage/persistent_key_store.go
  internal/storage/persistent_key_store_test.go
  internal/storage/types.go
  migrations/embed_test.go
Due: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

chore: add plugin context
  internal/api/middleware/plugin_context.go
  internal/api/middleware/plugin_context_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add extractAPIKey function
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add authenticateRequest method
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
  internal/api/middleware/mock.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add authentication middleware
  internal/api/errors.go
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  migrations/.*\.(up|down)\.sql$|
  \.secrets\.baseline$|
  notes/.*\.md$
)$

  go-mod-tidy: any of: go\.(mod|sum)$, but not: (?x)^(
  migrations/.*\.(up|down)\.sql$|
  \.secrets\.baseline$|
  notes/.*\.md$
)$

  go-vet: any of: \.go$, but not: (?x)^(
  migrations/.*\.(up|down)\.sql$|
  \.secrets\.baseline$|
  notes/.*\.md$
)$

  go-unit-tests: any of: \.go$, but not: (?x)^(
  migrations/.*\.(up|down)\.sql$|
  \.secrets\.baseline$|
  notes/.*\.md$
)$

  golangci-lint: any of: \.go$, but not: (?x)^(
  migrations/.*\.(up|down)\.sql$|
  \.secrets\.baseline$|
  notes/.*\.md$
)$

