Repository correlator-io/correlator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

.pre-commit-config.yaml:

# Pre-commit configuration for Correlator
# Ensures code quality and consistency before commits
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-case-conflict

  # Go-specific hooks that integrate with our existing setup
  - repo: local
    hooks:
      # Format code (uses our make fmt)
      - id: go-fmt
        name: go fmt
        entry: make fmt
        language: system
        pass_filenames: false
        types: [go]
      # Ensure go.mod and go.sum are tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'
      # Run go vet (integrates with our make vet)
      - id: go-vet
        name: go vet
        entry: make vet
        language: system
        pass_filenames: false
        types: [go]
      # Run unit tests before commit
      - id: go-unit-tests
        name: go unit tests
        entry: make test-unit
        language: system
        pass_filenames: false
        types: [go]

  # golangci-lint integration (uses our local v2 installation)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        language: system
        types: [go]
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|go\.sum$'

# Configuration
default_stages: [pre-commit]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
    migrations/.*\.(up|down)\.sql$|
    \.secrets\.baseline$|
    notes/.*\.md$
  )$

chore: make HTTP API open lineage compatible
  README.md
  deployments/demo/docker-compose.demo.yml
  deployments/docker/docker-compose.yml
  docs/api/examples/api-responses.json
  docs/api/openapi.yaml
  docs/api/schemas/errors.yaml
  internal/api/ingest_lineage_events.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware/ratelimit_test.go
  internal/api/routes.go
  scripts/smoketest.sh
  web/README.md
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: drop job_run_id prefix
  docs/ARCHITECTURE.md
  docs/MIGRATIONS.md
  docs/adr/003-unified-openlineage-test-results.md
  docs/api/examples/api-responses.json
  docs/api/examples/lineage-events.json
  docs/api/openapi.yaml
  docs/api/schemas/correlation.yaml
  docs/api/schemas/errors.yaml
  docs/api/schemas/openlineage.yaml
  internal/api/get_correlation_health_integration_test.go
  internal/api/get_incident_details.go
  internal/api/get_incidents.go
  internal/api/incidents_integration_test.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/canonicalization/canonicalizer.go
  internal/canonicalization/canonicalizer_test.go
  internal/correlation/store.go
  internal/correlation/types.go
  internal/ingestion/models.go
  internal/ingestion/models_test.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
  internal/storage/correlation_views_performance_test.go
  internal/storage/debounce_test.go
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
  internal/storage/lineage_store_test.go
  migrations/001_initial_openlineage_schema.up.sql
  scripts/smoketest.sh
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove tool prefixed job run ids from frontend tests
  README.md
  web/lib/api.test.ts
  web/lib/orchestration.test.ts
Due: none

chore: support OL GE assertions
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
  internal/storage/lineage_store_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix inconsistent _schemaURL in test
  internal/storage/lineage_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: data layer alignment
  internal/ingestion/models.go
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update documentation
  docs/ARCHITECTURE.md
Due: none

chore: align demo to use offical openlineage integrations
  Makefile
  deployments/demo/README.md
  deployments/demo/airflow/dags/demo_pipeline.py
  deployments/demo/airflow/openlineage.yml
  deployments/demo/dbt/dbt_project.yml
  deployments/demo/docker-compose.demo.yml
  deployments/demo/dockerfiles/airflow.Dockerfile
  deployments/demo/dockerfiles/dbt.Dockerfile
  deployments/demo/dockerfiles/ge.Dockerfile
  deployments/demo/great-expectations/checkpoints/demo_checkpoint.py
  internal/api/get_incident_details.go
  internal/api/get_incidents.go
  internal/api/ingest_lineage_events.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/types.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
  internal/storage/correlation_views_performance_test.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update demo pipeline dbt seed task
  Makefile
  deployments/demo/airflow/dags/demo_pipeline.py
Due: none

chore: extend pattern suggester with a new case
  deployments/demo/config/.correlator.yaml
  internal/aliasing/resolver_test.go
  internal/correlation/pattern_suggester.go
  internal/correlation/pattern_suggester_test.go
  internal/storage/correlation_views.go
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix counting raw dataset_urn instead of canonical_urn via resolved_datasets
  internal/storage/correlation_views.go
  internal/storage/types.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix defect in InitResolvedDatasets() method
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove correlator config files
  .correlator.yaml
  .gitignore
  deployments/demo/config/.correlator.yaml
Due: none

chore: save severity in the metadata column
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update readme
  .correlator.yaml.example
  .env.example
  README.md
  deployments/demo/README.md
Due: none

chore: rename plugin to client
  cmd/correlator/main.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
  internal/api/middleware/chain.go
  internal/api/middleware/client_context.go
  internal/api/middleware/client_context_test.go
  internal/api/middleware/config.go
  internal/api/middleware/plugin_context.go
  internal/api/middleware/plugin_context_test.go
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/api/middleware_integration_test.go
  internal/api/server.go
  internal/storage/memory_key_store.go
  internal/storage/memory_key_store_test.go
  internal/storage/persistent_key_store.go
  internal/storage/persistent_key_store_integration_test.go
  internal/storage/types.go
  internal/storage/types_test.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove x-api-key in favour of bearer token
  internal/api/config.go
  internal/api/get_correlation_health_integration_test.go
  internal/api/incidents_integration_test.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: revert back max large file
  .pre-commit-config.yaml
Due: none

chore: update documentation
  README.md
  docs/ARCHITECTURE.md
  docs/EVENT-VALIDATION.md
  docs/IDEMPOTENCY-CLEANUP.md
  docs/MIGRATIONS.md
  docs/MIGRATOR.md
  docs/OPENLINEAGE.md
  docs/PLUGIN-AUTHENTICATION.md
  docs/RATE-LIMITING.md
  docs/adr/001-openlineage-validation-strategy.md
  docs/adr/002-squash-week-1-migrations.md
  docs/adr/003-unified-openlineage-test-results.md
  docs/api/openapi.yaml
  internal/ingestion/validator.go
  internal/storage/memory_key_store.go
  migrations/001_initial_openlineage_schema.down.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix duplicate extraction bug
  deployments/demo/dockerfiles/airflow.Dockerfile
  internal/storage/lineage_store.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement kafka consumer
  .env.example
  README.md
  cmd/correlator/start.go
  go.mod
  go.sum
  internal/api/ingest_lineage_events.go
  internal/api/server.go
  internal/ingestion/time.go
  internal/kafka/config.go
  internal/kafka/config_test.go
  internal/kafka/consumer.go
  internal/kafka/consumer_integration_test.go
  internal/kafka/consumer_test.go
  internal/storage/types.go
Due: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

chore: remove all ports from namespace
  internal/canonicalization/normalize.go
  internal/canonicalization/normalize_test.go
  internal/canonicalization/urn_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update doc comment
  internal/kafka/consumer.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: Replaced all instances of &storage.Connection{DB: testDB.Connection} with storage.WrapConnection(testDB.Connection)
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add kafka demo
  deployments/demo/README.md
  deployments/demo/airflow/dags/demo_pipeline.py
  deployments/demo/airflow/openlineage-http.yml
  deployments/demo/airflow/openlineage.yml
  deployments/demo/docker-compose.demo.yml
  deployments/demo/dockerfiles/airflow.Dockerfile
Due: none

chore: fix lineage graph toggle
  web/components/incidents/impact-summary.tsx
Due: none

chore: refactor health page with tool attribution
  internal/api/get_correlation_health.go
  internal/api/get_correlation_health_integration_test.go
  internal/api/types.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
  internal/storage/types.go
  web/components/health/health-skeleton.tsx
  web/components/health/index.ts
  web/components/health/orphan-dataset-card.tsx
  web/components/health/orphan-dataset-list.tsx
  web/components/health/orphan-dataset-no-match.tsx
  web/components/lineage/lineage-graph.tsx
  web/lib/api.test.ts
  web/lib/api.ts
  web/lib/orchestration.test.ts
  web/lib/types.ts
  web/lib/utils.ts
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update documentation
  docs/api/examples/api-responses.json
  docs/api/examples/lineage-events.json
  docs/api/openapi.yaml
  docs/api/schemas/correlation.yaml
  docs/api/schemas/errors.yaml
  docs/api/schemas/openlineage.yaml
Due: none

chore: design with mock data
  web/README.md
  web/components/incidents/incident-card.tsx
  web/components/incidents/incident-detail-page-content.tsx
  web/components/incidents/incident-detail.tsx
  web/components/incidents/incidents-page-content.tsx
  web/components/incidents/mute-popover.tsx
  web/components/incidents/resolution-action-bar.tsx
  web/components/incidents/resolution-actions.tsx
  web/components/incidents/resolution-badge.tsx
  web/components/incidents/retry-timeline.tsx
  web/lib/mock-data.ts
  web/lib/types.ts
Due: none

chore: add auto resolve on ingestion
  internal/correlation/store.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/incident_resolution.go
  internal/storage/incident_resolution_integration_test.go
  internal/storage/lineage_store.go
  internal/storage/types.go
  migrations/001_initial_openlineage_schema.down.sql
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add incident resolution endpoints
  cmd/correlator/start.go
  docs/api/openapi.yaml
  internal/api/errors.go
  internal/api/get_incident_counts.go
  internal/api/get_incident_details.go
  internal/api/get_incidents.go
  internal/api/incidents_integration_test.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware_integration_test.go
  internal/api/routes.go
  internal/api/server.go
  internal/api/types.go
  internal/api/update_incident_status.go
  internal/correlation/store.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/incident_resolution.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix deduplication defect
  internal/api/get_incident_details.go
  internal/api/incidents_integration_test.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  migrations/001_initial_openlineage_schema.up.sql
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add PATCH to CORS
  internal/api/config.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/storage/correlation_views.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix deduplication defect in the counts endpoint
  internal/storage/correlation_views.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add CascadeResolutionToSiblings
  internal/api/update_incident_status.go
  internal/correlation/store.go
  internal/storage/incident_resolution.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement incident resolution user interface
  web/components/incidents/incident-detail-page-content.tsx
  web/components/incidents/incident-detail.tsx
  web/components/incidents/incidents-page-content.tsx
  web/components/incidents/resolution-action-bar.tsx
  web/components/incidents/resolution-actions.tsx
  web/components/incidents/resolution-badge.tsx
  web/hooks/use-incidents.ts
  web/lib/api.test.ts
  web/lib/api.ts
Due: none

chore: implement system health check
  cmd/correlator/start.go
  docs/api/openapi.yaml
  internal/api/health.go
  internal/api/health_integration_test.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware_integration_test.go
  internal/api/routes.go
  internal/api/server.go
  internal/health/health.go
  internal/kafka/consumer.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add fixed raw customers
  deployments/demo/dbt/seeds/fixed/fixed_raw_customers.csv
Due: none
