Repository correlator-io/correlator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

.pre-commit-config.yaml:

# Pre-commit configuration for Correlator
# Ensures code quality and consistency before commits
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-case-conflict

  # Go-specific hooks that integrate with our existing setup
  - repo: local
    hooks:
      # Format code (uses our make fmt)
      - id: go-fmt
        name: go fmt
        entry: make fmt
        language: system
        pass_filenames: false
        types: [go]
      # Ensure go.mod and go.sum are tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'
      # Run go vet (integrates with our make vet)
      - id: go-vet
        name: go vet
        entry: make vet
        language: system
        pass_filenames: false
        types: [go]
      # Run unit tests before commit
      - id: go-unit-tests
        name: go unit tests
        entry: make test-unit
        language: system
        pass_filenames: false
        types: [go]

  # golangci-lint integration (uses our local v2 installation)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        language: system
        types: [go]
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|go\.sum$'

# Configuration
default_stages: [pre-commit]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
    migrations/.*\.(up|down)\.sql$|
    \.secrets\.baseline$|
    notes/.*\.md$
  )$

chore: add validation strategy ADR
  docs/adr/001-openlineage-validation-strategy.md
Due: none

chore: add validation and canonicalization
  internal/canonicalization/canonicalizer.go
  internal/canonicalization/canonicalizer_test.go
  internal/canonicalization/urn.go
  internal/canonicalization/urn_test.go
  internal/ingestion/models.go
  internal/ingestion/validator.go
  internal/ingestion/validator_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add schema url validation
  internal/ingestion/validator.go
  internal/ingestion/validator_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add namespace validation
  internal/canonicalization/normalize.go
  internal/canonicalization/normalize_test.go
  internal/canonicalization/urn.go
  internal/canonicalization/urn_test.go
  internal/ingestion/validator.go
  internal/ingestion/validator_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add store interface
  internal/ingestion/store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement lineage store
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
  internal/storage/lineage_store_test.go
  internal/storage/persistent_key_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: refactor StoreEvents interface method
  internal/ingestion/store.go
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add more tests
  internal/storage/lineage_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: refactor test testDeferredFKConstraints
  internal/storage/lineage_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add max request size config
  cmd/correlator/main.go
  internal/api/config.go
  internal/api/errors.go
  internal/api/routes.go
  internal/api/server.go
  internal/api/server_integration_test.go
  internal/config/getter.go
  internal/ingestion/lifecycle.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement openlineage ingestion endpoint
  go.mod
  go.sum
  internal/api/errors.go
  internal/api/openLineage_ingestion_integration_test.go
  internal/api/routes.go
  internal/api/server.go
  internal/api/server_integration_test.go
  internal/ingestion/lifecycle.go
  internal/ingestion/lifecycle_test.go
Due: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

chore: add close method to lineage store
  cmd/correlator/main.go
  internal/api/server_integration_test.go
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update openapi specification
  docs/api/openapi.yaml
  docs/api/schemas/errors.yaml
  internal/api/errors.go
  internal/api/middleware/plugin_auth.go
  internal/api/middleware/plugin_auth_test.go
  internal/api/middleware/recovery.go
  internal/api/server_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix inconsistent domain
  docs/api/openapi.yaml
  docs/api/schemas/errors.yaml
  internal/api/middleware/plugin_auth.go
  internal/api/middleware/ratelimit_test.go
  internal/api/middleware/recovery.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix inconsistency in recovery.go
  internal/api/middleware/recovery.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add normaliseNilSlices method
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: document event validation
  docs/EVENT-VALIDATION.md
Due: none

chore: remove the backslash escaping for backticks in markdown
  docs/EVENT-VALIDATION.md
Due: none

chore: fix inconsistent spelling
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix incorrect total latency
  docs/EVENT-VALIDATION.md
Due: none

chore: fix throughput miscalculation
  docs/EVENT-VALIDATION.md
Due: none

chore: add missing field
  docs/EVENT-VALIDATION.md
Due: none

chore: add method based routing
  internal/api/middleware_integration_test.go
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: reduce duplicated test code
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: make more improvements
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: use splitN
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove ExpiresAt from setup function
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix format string bugs
  internal/api/middleware_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add guard clause to check for valid http methods
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: skip registering malformed paths as public
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement TTL cleanup goroutine
  cmd/correlator/main.go
  internal/api/middleware_integration_test.go
  internal/api/openLineage_ingestion_integration_test.go
  internal/storage/config.go
  internal/storage/lineage_store.go
  internal/storage/lineage_store_integration_test.go
  internal/storage/persistent_key_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: refactor cleanupExpiredIdempotencyKeys method
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: cancel parent ctx on cleanupStop signal
  internal/storage/lineage_store.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add lineage smoke tests
  .env.example
  Makefile
  cmd/correlator/main.go
  deployments/docker/.env.example
  internal/config/getter.go
  scripts/smoketest-lineage.sh
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add cleanup_test_data function
  Makefile
  scripts/smoketest-lineage.sh
Due: none

chore: fix bug
  scripts/smoketest-lineage.sh
Due: none

chore: add lineage store benchmark test file
  internal/storage/lineage_store_benchmark_test.go
  internal/storage/lineage_store_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: move benchmark tests to separate files
  internal/canonicalization/benchmark_test.go
  internal/canonicalization/urn_test.go
  migrations/benchmark_test.go
  migrations/embed_test.go
  migrations/integration_test.go
  migrations/runner_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: document idempotency cleanup
  docs/IDEMPOTENCY-CLEANUP.md
Due: none
