Repository correlator-io/correlator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

.pre-commit-config.yaml:

# Pre-commit configuration for Correlator
# Ensures code quality and consistency before commits
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: check-case-conflict

  # Go-specific hooks that integrate with our existing setup
  - repo: local
    hooks:
      # Format code (uses our make fmt)
      - id: go-fmt
        name: go fmt
        entry: make fmt
        language: system
        pass_filenames: false
        types: [go]
      # Ensure go.mod and go.sum are tidy
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'
      # Run go vet (integrates with our make vet)
      - id: go-vet
        name: go vet
        entry: make vet
        language: system
        pass_filenames: false
        types: [go]
      # Run unit tests before commit
      - id: go-unit-tests
        name: go unit tests
        entry: make test-unit
        language: system
        pass_filenames: false
        types: [go]

  # golangci-lint integration (uses our local v2 installation)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        language: system
        types: [go]
        pass_filenames: false

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '\.lock$|go\.sum$'

# Configuration
default_stages: [pre-commit]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
    migrations/.*\.(up|down)\.sql$|
    \.secrets\.baseline$|
    notes/.*\.md$
  )$

chore: update documentation
  docs/DEVELOPMENT.md
Due: none

chore: add web development commands
  Makefile
Due: none

chore: make a minor update
  docs/DEVELOPMENT.md
Due: none

chore: remove default svg files
  web/public/file.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
Due: none

chore: update mock up
  web/app/globals.css
  web/app/not-found.tsx
  web/components/incidents/incident-filter.tsx
  web/components/incidents/incident-list.tsx
  web/components/lineage/downstream-graph.tsx
  web/lib/mock-data.ts
  web/lib/types.ts
Due: none

chore: add correlation store dependency to server
  cmd/correlator/main.go
  internal/api/ingest_lineage_events.go
  internal/api/ingest_lineage_events_integration_test.go
  internal/api/middleware_integration_test.go
  internal/api/server.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement correlation endpoints
  internal/api/get_incident_details.go
  internal/api/get_incidents.go
  internal/api/incidents_integration_test.go
  internal/api/routes.go
  internal/api/types.go
  internal/correlation/store.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
  internal/storage/correlation_views_performance_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove correlation_events table
  deployments/docker/postgres-init/01-init.sql
  migrations/001_initial_openlineage_schema.down.sql
  migrations/001_initial_openlineage_schema.up.sql
Due: none

chore: implement orphan namespace detection query
  internal/correlation/store.go
  internal/correlation/types.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement correlation health query
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add api response types
  internal/api/types.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add correlation health endpoint
  internal/api/get_correlation_health.go
  internal/api/get_correlation_health_integration_test.go
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: set has_correlation_issue in incident list
  internal/api/get_incidents.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update incident detail with correlation_status
  internal/api/get_incident_details.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: update openapi specs
  docs/api/openapi.yaml
  internal/api/middleware_integration_test.go
  internal/api/routes.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add more integration tests
  internal/api/incidents_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: implement namespace aliasing
  .correlator.yaml.example
  .env.example
  README.md
  cmd/correlator/main.go
  go.mod
  internal/aliasing/config.go
  internal/aliasing/config_test.go
  internal/aliasing/resolver.go
  internal/aliasing/resolver_test.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
  internal/storage/lineage_store.go
Due: go-fmt, go-mod-tidy, go-vet, go-unit-tests, golangci-lint

chore: remove dead code
  cmd/correlator/main.go
  internal/aliasing/resolver.go
  internal/aliasing/resolver_test.go
  internal/storage/correlation_views.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add api client
  web/app/layout.tsx
  web/components/providers/query-provider.tsx
  web/hooks/index.ts
  web/hooks/use-correlation-health.ts
  web/hooks/use-incidents.ts
  web/lib/api.test.ts
  web/lib/api.ts
  web/lib/types.ts
  web/package-lock.json
  web/package.json
  web/vitest.config.ts
Due: none

chore: wire up UI pages
  web/app/error.tsx
  web/app/global-error.tsx
  web/app/health/page.tsx
  web/app/incidents/[id]/page.tsx
  web/app/incidents/page.tsx
  web/components/error-boundary.tsx
  web/components/health/correlation-health-dashboard.tsx
  web/components/health/health-error.tsx
  web/components/health/health-page-content.tsx
  web/components/health/health-skeleton.tsx
  web/components/health/index.ts
  web/components/icons/producer-icon.tsx
  web/components/incidents/incident-card.tsx
  web/components/incidents/incident-detail-page-content.tsx
  web/components/incidents/incident-detail-skeleton.tsx
  web/components/incidents/incident-error.tsx
  web/components/incidents/incident-list-skeleton.tsx
  web/components/incidents/incident-list.tsx
  web/components/incidents/incidents-page-content.tsx
  web/components/incidents/index.ts
  web/components/incidents/job-details-card.tsx
  web/components/lineage/dataset-node.tsx
  web/components/lineage/downstream-graph.tsx
  web/components/theme/theme-toggle.tsx
  web/components/ui/skeleton.tsx
  web/lib/filters.ts
  web/lib/mock-data.ts
  web/lib/yaml.ts
Due: none

chore: frontend ci workflow
  .github/workflows/pr.yml
Due: none

chore: fix web build command
  .github/workflows/pr.yml
  Makefile
Due: none

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add correlator dockerfile
  .pre-commit-config.yaml
  cmd/correlator/main.go
  deployments/docker/Dockerfile
  internal/storage/correlation_views_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add web UI dockerfile
  web/.dockerignore
  web/Dockerfile
  web/next.config.ts
Due: none

chore: refactor deployments directory
  .correlator.yaml
  .dockerignore
  deployments/docker/.env.example
  deployments/docker/dev-diagnostics.sh
  deployments/docker/docker-compose.override.yml
  deployments/docker/docker-compose.yml
  deployments/docker/health-check.sh
  deployments/docker/postgres-init/01-init.sql
Due: none

chore: add demo setup
  Makefile
  deployments/demo/.env.example
  deployments/demo/README.md
  deployments/demo/airflow/openlineage.yml
  deployments/demo/config/.correlator.yaml
  deployments/demo/docker-compose.demo.yml
  deployments/demo/dockerfiles/airflow.Dockerfile
  deployments/demo/dockerfiles/dbt.Dockerfile
  deployments/demo/dockerfiles/gx.Dockerfile
  deployments/demo/postgres-init/01-init-schemas.sql
Due: none

chore: refactor the demo workflow commands
  Makefile
  deployments/demo/README.md
Due: none

chore: add demo data
  deployments/demo/airflow/dags/demo_pipeline.py
  deployments/demo/dbt/dbt_project.yml
  deployments/demo/dbt/models/marts/customers.sql
  deployments/demo/dbt/models/marts/orders.sql
  deployments/demo/dbt/models/marts/schema.yml
  deployments/demo/dbt/models/staging/schema.yml
  deployments/demo/dbt/models/staging/stg_customers.sql
  deployments/demo/dbt/models/staging/stg_orders.sql
  deployments/demo/dbt/profiles.yml
  deployments/demo/dbt/seeds/bad_data/raw_customers_bad.csv
  deployments/demo/dbt/seeds/bad_data/raw_orders_bad.csv
  deployments/demo/dbt/seeds/raw_customers.csv
  deployments/demo/dbt/seeds/raw_orders.csv
  deployments/demo/great-expectations/checkpoints/demo_checkpoint.yml
  deployments/demo/great-expectations/expectations/customers_expectations.json
  deployments/demo/great-expectations/expectations/orders_expectations.json
  deployments/demo/great-expectations/great_expectations.yml
  deployments/demo/scripts/restore-good-data.sh
  deployments/demo/scripts/seed-failure.sh
  deployments/demo/scripts/seed-success.sh
Due: none

chore: refactor ge configuration
  deployments/demo/airflow/dags/demo_pipeline.py
  deployments/demo/docker-compose.demo.yml
  deployments/demo/dockerfiles/ge.Dockerfile
  deployments/demo/great-expectations/checkpoints/demo_checkpoint.py
  deployments/demo/great-expectations/checkpoints/demo_checkpoint.yml
  deployments/demo/great-expectations/expectations/customers_expectations.json
  deployments/demo/great-expectations/expectations/orders_expectations.json
  deployments/demo/great-expectations/great_expectations.yml
Due: none

chore: fix job namespaces
  deployments/demo/README.md
  deployments/demo/config/.correlator.yaml
  deployments/demo/dbt/macros/generate_schema_name.sql
  deployments/demo/docker-compose.demo.yml
  deployments/demo/dockerfiles/airflow.Dockerfile
  deployments/demo/great-expectations/checkpoints/demo_checkpoint.py
  internal/canonicalization/canonicalizer.go
  internal/canonicalization/canonicalizer_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove spark from extractToolFromNamespace() function
  internal/canonicalization/canonicalizer.go
  internal/canonicalization/canonicalizer_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: remove spark from extractToolFromNamespace() function
  Makefile
  deployments/demo/airflow/dags/demo_pipeline.py
Due: none

chore: re-design the incidents list page
  web/components/incidents/incident-card.tsx
  web/components/incidents/incidents-page-content.tsx
  web/components/incidents/orphan-callout-banner.tsx
  web/components/ui/alert.tsx
  web/lib/api.ts
  web/lib/types.ts
  web/lib/utils.ts
Due: none

chore: add extractProducerVersion() function
  internal/storage/lineage_store.go
  internal/storage/lineage_store_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: add a dataset pattern resolver
  cmd/correlator/main.go
  internal/aliasing/config.go
  internal/aliasing/config_test.go
  internal/aliasing/resolver.go
  internal/aliasing/resolver_test.go
  internal/storage/correlation_views.go
  internal/storage/correlation_views_integration_test.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint

chore: fix wrong job status
  web/components/incidents/job-details-card.tsx
  web/lib/api.ts
  web/lib/types.ts
Due: none

chore: update correlator config file
  .correlator.yaml
  deployments/demo/config/.correlator.yaml
Due: none

chore: fix incident title
  .gitignore
  .secrets.baseline
  health-page-mobile.png
  health-page-redesign.png
  web/components/incidents/incident-card.tsx
Due: none

chore: add orphan count to the incident list endpoint response
  docs/api/openapi.yaml
  internal/api/get_incidents.go
  internal/api/incidents_integration_test.go
  internal/api/types.go
Due: go-fmt, go-vet, go-unit-tests, golangci-lint
